<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Avalon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div id="root">Loading...</div>
        </div>
        <script type="text/javascript" src="{{STATIC_ASSET_URL}}manifest.js"></script></body>
        <script type="text/javascript" src="{{STATIC_ASSET_URL}}vendor.js"></script></body>
        <script type="text/javascript" src="{{STATIC_ASSET_URL}}main.js"></script></body>
</html>
